*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

h1,
h5 {
    font-family: "Times New Roman", Times, serif;
    color: #fff;
}

a {
    font-family: "Times New Roman", Times, serif;
    color: white;
    text-decoration: none;
}

a:hover {
    color: blue;
}


/* style login */

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e6e9ff;
}

.login__container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #4c9dde;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login__container h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
}

.login__container form {
    display: flex;
    flex-direction: column;
}

.login__container form label {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.login__container form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.login__container form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0d3db8;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
}

.login__container form button:hover {
    background: greenyellow;
}

.login__container form a {
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

.login__container form a:hover {
    color: blue;
}

.login__registerButton {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
    display: block;
}


/* style signup */

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e6e9ff;
}

.signup__container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #4c9dde;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup__container h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
}

.signup__container form {
    display: flex;
    flex-direction: column;
}

.signup__container form label {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.signup__container form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.signup__container form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0d3db8;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
}

.signup__container form button:hover {
    background: greenyellow;
}

.signup__container form a {
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

.signup__container form a:hover {
    color: blue;
}

.signup__registerButton {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
    display: block;
}